In [1]:
import pandas as pd
import geopy
import numpy as np

In [6]:
oxxo_df = pd.read_csv("../../mini_projects/data/oxxo/oxxo_data.csv")
oxxo_df.head()

,latitude,longitude,name,comments,rating,Address,Neighborhood,City,Postal,Subregion,Region,Bajo,Medio Bajo,Medio Alto,Alto
0,19.353753,-99.189937,OXXO Helenico,4.0,4.3,Avenida Revolución,Sn Ángel,Guadalupe Inn,1020.0,alvaro obregon,ciudad de méxico,NaN,104.0,80.0,24.0
1,19.348316,-99.185520,Oxxo La Paz,13.0,3.5,Avenida Miguel Ángel de Quevedo 36B,NaN,Chimalistac,1050.0,alvaro obregon,ciudad de méxico,NaN,104.0,80.0,24.0
2,19.351621,-99.185912,OXXO,9.0,3.0,Avenida Vito Alessio Robles 12,NaN,Florida,1030.0,alvaro obregon,ciudad de méxico,NaN,104.0,80.0,24.0
3,19.341629,-99.203068,Oxxo,27.0,4.0,Calle Veracruz 87,NaN,Progreso Tizapán,1080.0,alvaro obregon,ciudad de méxico,NaN,104.0,80.0,24.0
4,19.360927,-99.185247,Oxxo,15.0,3.0,Calle Manuel M. Ponce,Sn Ángel,Guadalupe Inn,1020.0,alvaro obregon,ciudad de méxico,NaN,104.0,80.0,24.0

In [12]:
oxxo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1798 entries, 0 to 1797
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   latitude      1798 non-null   float64
 1   longitude     1798 non-null   float64
 2   name          1798 non-null   object
 3   comments      1719 non-null   float64
 4   rating        1719 non-null   float64
 5   Address       1771 non-null   object
 6   Neighborhood  703 non-null    object
 7   City          1787 non-null   object
 8   Postal        1790 non-null   float64
 9   Subregion     1795 non-null   object
 10  Region        1798 non-null   object
 11  Bajo          122 non-null    float64
 12  Medio Bajo    1513 non-null   float64
 13  Medio Alto    1629 non-null   float64
 14  Alto          1531 non-null   float64
dtypes: float64(9), object(6)
memory usage: 210.8+ KB

In [10]:
population_df = pd.read_csv("../../mini_projects/data/oxxo/inegi_population_2023-03-28T00_50_54.978Z.csv")
population_df = population_df.drop(["State ID", "Municipality ID", "Academic Degree ID"], axis=1)
population_df.head()

,State,Municipality,Academic Degree,Population
0,Ciudad de México,Iztapalapa,Secundaria,907789
1,Estado de México,Ecatepec de Morelos,Secundaria,834730
2,Ciudad de México,Iztapalapa,Primaria,810251
3,Estado de México,Ecatepec de Morelos,Primaria,791611
4,Ciudad de México,Iztapalapa,Preparatoria o Bachillerato General,684610

In [15]:
population_df["Academic Degree"].unique()

array(['Secundaria', 'Primaria', 'Preparatoria o Bachillerato General',
       'Licenciatura', 'Preescolar o Kínder', 'Ninguno',
       'Bachillerato Tecnológico o Normal Básica',
       'Estudios Técnicos o Comerciales con Secundaria Terminada',
       'Maestría',
       'Estudios Técnicos o Comerciales con Preparatoria Terminada',
       'Normal de Licenciatura', 'Especialidad', 'No especificado',
       'Estudios Técnicos o Comerciales con Primaria Terminada',
       'Doctorado', 'Normal con Primaria o Secundaria Terminada'],
      dtype=object)